
RewriteEngine On




RewriteRule ^producto/(.*)/(.*)$ ./producto.php?cod=$2
RewriteRule ^inicio ./index.php
RewriteRule ^blog/(.*)/(.*)$ ./blog.php?cod=$2
RewriteRule ^carrito/(.*)/(.*)$ ./carrito.php?metodos-pago=$2
RewriteRule ^c/(.*)$ ./contenidos.php?id=$1
RewriteRule ^sesion/(.*)$ ./sesion.php?op=$1
RewriteRule ^landing/(.*)/(.*)$ ./landing.php?cod=$2
RewriteRule ^servicios/(.*)/(.*)$ ./servicios.php?cod=$2
RewriteRule ^portfolio/(.*)/(.*)$ ./portfolio.php?cod=$2
RewriteRule ^checkout/(.*)$ ./checkout.php?op=$1


RewriteRule ^productos/c/(.*)/(.*)$ ./productos.php?categoria=$2 [QSA,L]
RewriteRule ^productos/s/(.*)/(.*)/(.*)/(.*)$ ./productos.php?categoria=$2&subcategoria=$4 [QSA,L]
RewriteRule ^productos/s/(.*)/(.*)$ ./productos.php?subcategoria=$2 [QSA,L]
RewriteRule ^productos/b/(.*)/(.*)/(.*)/(.*)$ ./productos.php?$1=$2&$3=$4 [QSA,L]
RewriteRule ^productos/b/(.*)/(.*)$ ./productos.php?$1=$2 [QSA,L]
RewriteRule ^productos/(.*)$ ./productos.php [QSA,L]

RewriteRule ^ofertas/c/(.*)/(.*)$ ./ofertas.php?categoria=$2 [QSA,L]
RewriteRule ^ofertas/s/(.*)/(.*)/(.*)/(.*)$ ./ofertas.php?categoria=$2&subcategoria=$4 [QSA,L]
RewriteRule ^ofertas/s/(.*)/(.*)$ ./ofertas.php?subcategoria=$2 [QSA,L]
RewriteRule ^ofertas/b/(.*)/(.*)/(.*)/(.*)$ ./ofertas.php?$1=$2&$3=$4 [QSA,L]
RewriteRule ^ofertas/b/(.*)/(.*)$ ./ofertas.php?$1=$2 [QSA,L]
RewriteRule ^ofertas/(.*)$ ./ofertas.php [QSA,L]

#ErrorDocument 404 http://www..com.ar/404
#ErrorDocument 400 http://www..com.ar/404
#ErrorDocument 401 http://www..com.ar/404
#ErrorDocument 403 http://www..com.ar/404
#ErrorDocument 500 http://www..com.ar/404


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ $1.php

